.game-container {
    margin: 20px auto;
    text-align: center;
}

.gameboard {
    display: inline-block;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    width: 30px;
    height: 30px;
    border: 2px solid black !important;
    cursor: pointer;
}

.messages {
    text-align: center;
    margin-top: 20px;
}

.miss {
    background-color: gray;
}
.hit {
    background-color: rgb(228, 23, 23);
}

