{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block javascript %}
    <script src="konami/konami.js" defer></script>
{% endblock %}

{% block content %}
    <div class="content konami-game">
        <h1>Bataille navale</h1>
        <div class="game-container">
            <div class="gameboard">
                <table id="board"></table>
            </div>
            <div class="messages">
                <p id="message"></p>
            </div>
        </div>
    </div>
{% endblock %}