#map {
    height: 85vh;
}

#importantCities {
    text-align: center;
    margin-top: 1rem;
}

.conteneur {
    margin-top: 3%;
    margin-bottom: 1%;
}

.ville {
    z-index: 10001;
    background-color: lightgrey;
    align-items: center;
    text-align: center;
    border: 1px solid;
}

.ville img {
    max-width: 60px;
}

.leaflet-control-search .search-input, .leaflet-control-search .search-tooltip .search-tip {
    font-size: 1.5em;
}

.leaflet-control-search .search-tooltip {
    max-height: 250px !important;
}

.calculItineraire {
    cursor: pointer;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}